---
virtualmachines:
  - name: "satellite"
    image: "quay.io/myee/rhdp:latest"
    memory: "32G"
    cores: 1
    image_size: "900G"
    packages:
      - git
      - cockpit
    tags:
      - key: "AnsibleGroup"
        value: "bastions"
    networks:
      - default
    services:
      - name: cockpit
        ports:
          - port: 443
            protocol: TCP
            targetPort: 443
            name: webui
    routes:
      - name: cockpit
        host: cockpit
        service: cockpit
        targetPort: 9090
        tls: true
        tls_termination: Edge
  - name: "rhel2"
    image: "rhel-9.5"
    memory: "2G"
    cores: 1
    image_size: "40G"
    tags:
      - key: "AnsibleGroup"
        value: "isolated"
    networks:
      - default
