---
virtualmachines:
  - name: "rhel"
    image: "rhel-9.5"
    memory: "2G"
    cores: 1
    image_size: "40G"
    packages:
      - git
      - cockpit
    tags:
      - key: "AnsibleGroup"
        value: "bastions"
    networks:
      - default
    services:
      - name: cockpit
        ports:
          - port: 443
            protocol: TCP
            targetPort: 443
            name: webui
    routes:
      - name: cockpit
        host: cockpit
        service: cockpit
        targetPort: 9090
        tls: true
        tls_termination: Edge